<%= form_with(model: uni, local: true) do |form| %>
  <% if uni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uni.errors.count, "error") %> prohibited this uni from being saved:</h2>

      <ul>
        <% uni.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :alt_names %>
    <%= form.text_field :alt_names %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
