<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uni.name %>
</p>

<p>
  <strong>Alt names:</strong>
  <%= @uni.alt_names %>
</p>

<%= link_to 'Edit', edit_uni_path(@uni) %> |
<%= link_to 'Back', unis_path %>
